
<%- include("partials/header.ejs") -%>
<div class="row">
  <div class="box button-box">
    <a class="btn btn-outline-primary button" button " href="/compose" role="button"><p class="button1"><i class="icon fas fa-pen-nib"></i> + Create New</p></a>
  </div>

<% posts.forEach((post) => { %>

    <div class="box">
      <h4 class="title"><%= post.title %></h4>
      <p class="date"><%= post.createdAt.toLocaleDateString() %></p>
      <p class="content"><%= post.content.substring(0, 120) + " ..." %></p>
      <a class="btn btn-outline-primary compose" href="/posts/<%=post.title%>">Read More</a>
    </div>
  
<% }); %>
<% console.log(posts); %>
</div>
<%- include("partials/footer.ejs") -%>